<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link active" aria-current="page"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/votes" class="nav-link">Ajouter votes </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link"
          id="navbarDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Bonjour {{ username }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a
              class="dropdown-item nav-link text-decoration"
              type="submit"
              (click)="logout()"
              >Logout</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </header>
</div>
