<app-navbar></app-navbar>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Album example</h1>
      <p class="lead text-muted">
        Something short and leading about the collection below—its contents, the
        creator, etc. Make it short and sweet, but not too short so folks don’t
        simply skip over it entirely.
      </p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </div>
</section>
<div class="container marketing">
  <div class="row" *ngFor="let vote of votes; let i = index">
    <div class="col-lg-4">
      <h2 class="mx-2">Titre de sondage : {{ vote.titre }}</h2>

      <div>
        <h4 class="my-3">Question : {{ vote.description }}</h4>
        <p>Oui : {{ vote.oui }} / Non : {{ vote.non }} / Résultat :</p>
        <h4 class="my-3">
          <div class="form-group mt-3">
            <input
              type="radio"
              value="oui"
              (change)="onItemChange($event, i)"
              [name]="i"
            />
            <label for="oui">Oui</label><br />
            <input
              type="radio"
              value="non"
              (change)="onItemChange($event, i)"
              [name]="i"
            />
            <label for="non">Non</label><br />
          </div>
        </h4>
        <div></div>
      </div>
      <div class="float-right">
        <button (click)="saveResponse(vote._id)" type="button">Valider</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
